<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="HBS" />
    <meta name="keywords" content="HBS" />
    <meta name="author" content="np. MichRad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-Ua-Compatible" content="IE=edge" />
    <title>NodeJS + HBS</title>
  </head>
  <body>
    <h1 style="color: green; text-align: center">API is running - index.hbs</h1>
  </body>
</html>